@model tCountryInfo

<ul>
    <li>
       sName: @Model.sName
    </li>
    <li>
        sISOCode: @Model.sISOCode
    </li>
    <li>
        sCurrencyISOCode: @Model.sCurrencyISOCode
    </li>
    <li>
        Languages: @Model.Languages
    </li>
    <li>
        sCapitalCity: @Model.sCapitalCity
    </li>
    <li>
        sContinentCode: @Model.sContinentCode
    </li>
    <li>
        sCountryFlag: @Model.sCountryFlag
    </li>
    <li>
        sISOCode: @Model.sISOCode
    </li>
    <li>
        sPhoneCode: @Model.sPhoneCode
    </li>
</ul>